<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Дома в Беларуси за базовую</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <h1>Дома за одну базовую в Беларуси</h1>

        <div class="update-section">
            <select id="region-select" class="update-btn">
                <option value="Минская обл.">Минская область</option>
                <option value="Брестская обл.">Брестская область</option>
                <option value="Гомельская обл.">Гомельская область</option>
                <option value="Гродненская обл.">Гродненская область</option>
                <option value="Могилёвская обл.">Могилёвская область</option>
                <option value="Витебская обл.">Витебская область</option>
            </select>

            <button id="run-tasks-btn" class="update-btn">
                🔄 Обновить данные
            </button>
        </div>

        <h2>Карта</h2>
        <div id="map"></div>
        <hr>
        <div class="controls">
            <input type="text" id="search-input" placeholder="Поиск по адресу...">

            <select id="sort-by">
                <option value="state_date">По дате</option>
                <option value="position">По адресу</option>
            </select>

            <select id="sort-order">
                <option value="desc">По убыванию</option>
                <option value="asc">По возрастанию</option>
            </select>
        </div>

        <div id="house-list"></div>


    </div>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
